/* -------------------------------------------------------------CSS HOME*/

*{
    margin: 0;
	padding: 0;
}
@font-face {
    font-family: "bod_cr";
    src: url(../fonts/bod_cr.ttf);
}
html {
    font-family:bod_cr;
    font-weight: 900;
    font-size: 1.3em;
}
body {
    background: whitesmoke;
}

/* HEADER*/
header {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

header div img {
    width: 100px;
    height: 100px;
}
.modelarIdeas { 
    color: black;
}
.navBar{
    display: flex;
}
.navBar li {
    list-style-type: none;
}
.navBar li a{ 
    text-decoration: none; 
    color: black; 
    transition: all 400ms ease;
}
.navBar li a:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}


/* Lista del nav*/
/* header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */
/* header nav a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
} */
/* header nav ul {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
} */



/* MAIN */

.banner {
    width: 100%;
}

.misionVision{
    background-color: #d6b385;
    color: whitesmoke;
    text-align: center;
    padding: 0.8em 0;
}
    
.flexContainer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.estiloTitulo {
    font-size: 2em;
}   

.flexContainer div p {
    color: grey;
    font-weight: 400;
}


.ingresoSecciones {
    border-radius: 10%;
    box-shadow: 0 6px 10px 0 grey;    
}

.carrousel {
    /* display: flex; 
    justify-content: center;
    align-items: center; */
    text-align: center;
}

/* .carrousel img{    borrar
    width: 60%;
    border-radius: 70px;
    margin: 3em 0;
} */



a {
    color: black;
    text-decoration: none;
}


/*Footer*/

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    background: rgb(196, 195, 195);
}

footer div a img{
    width: 100px;
    height: 100px;
}
footer div a {
    display: flex;
    justify-content: center;
    align-items: center;    
}
footer div a p{
    margin-left: 0.2em;
}


/*---------------------------------------------------------------- CSS SOBRE MI */

.flexMi {
    background:whitesmoke;
    display: flex;  
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
.fotoTexto {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.textoUno{
    box-shadow: 0 6px 10px 0 grey;
    font-weight: 500;
    text-align: center;
    font-size: 1.2em;
}
.textoFoto {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.textoDos {
    background-color: #9daf89;
    box-shadow: 0 6px 10px 0 grey;
    text-align: center;
    opacity: 0.8;
    font-weight: 500; 
    font-size: 1.5em;
}

span {
font-style: italic;
}

.yoTrabajo{
    box-shadow: 0 6px 10px 0 grey;
}

.zocalo img {
    width: 100%;
    opacity: 0.8;
}


/* -------------------------------------------------------------CSS PORFOLIO */

.flexPortfolio article {
    display: flex;
    align-items: center;
    margin: 1.4em 0 0 0;
}
.flexPortfolio article div {
    padding: 1.5em;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.flexPortfolio article div:hover{
    transform: translateY(-3%);
}

.flexPortfolio article div h3 {
    font-style: italic;
    text-align: center;
    padding-bottom: 1em;
    font-size: 2em;
}

/* .flexPortfolio article img {
    width: 80em;
    height: 30em;
    cursor: pointer;
} */

.flexPortfolio article div p{
    color: grey;
    font-weight: 100;
    cursor: pointer;
    text-align: center;
}

/* ------------------------------------------------------------ CSS SERVICIOS */
.gridTitulo{
    grid-area: aol;
}

.columnaImg{
    grid-area: gifImagen;
}

.columnaTexto p {
    grid-area: textoImagen;
}

.textoAbajo {
    grid-area: textoAbajo;
}

.gridContainer {
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr auto 1fr;
    grid-template-areas:
    "aol aol"
    "gifImagen textoimagen"
    "textoAbajo textoAbajo";
    column-gap: 1em;
    align-items: center; */
}

.gridTitulo h2 {
    text-align: center;
    font-size: 2em;
}

.columnaImg img {
    width: 100%;
}

.columnaTexto p {
    text-align: center;
    font-weight: 100;
    width: 90%;
}

.textoAbajo p {
    font-size: 1.5em;
    text-align: center;
    padding:0.5em;
    background-color: rgb(196, 195, 195) ;
    color: white;
    font-weight: 100;
}


/* section h2 {   lo hice con grid
    text-align: center;
    font-size: 2em;
    margin-top: 1.5em;
}

.flexServicios article {
    display:flex;
    align-items: center;
}

.flexServicios article img {
    width: 50%;
    margin-left: 4em;
}

.flexServicios article p {
    font-size: 1.5em;
    text-align: center;
    font-weight: 100;
    margin-right: 4em;
}
.personalizado {
    font-size: 0.9em;
    padding:1em 0 1em 24em ;
    background-color: rgb(196, 195, 195) ;
    color: white;
} */

.tituloVentaja {
    font-size: 1.5em;
    text-align: center;
}

.textoVentajas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.card div img {
    width: 30%;
    margin-bottom: 1em;
}

.card p {
    text-align: center;
}

.queIncluye img {
    margin-bottom: 3em;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.tips h4 {
    text-align: center;
    font-size: 2em;
}

.tips img {
    margin-top: 1em;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.tips img:hover {
    transform: translateY(-3%);
}

/*------------------------------------------------------------- CSS CONTACTO */

.flexForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    justify-content: flex-start;
    margin: 1em 5em;
}
.edicionForm h2{
    text-align: center;
    font-size: 2em;
}
.imgContacto {
    border-radius: 1000Px 0 0 0;
    margin-top: 2em;
}

.edicionForm div {
    line-height: 1.6;
    margin-bottom: 0.2em;
}

.iconoWp {
    display: flex;
    align-items: center;
}
.iconoWp svg {
    margin-right: 1em;
}

.iconoCorreo{
    display: flex;
    align-items: center;
}

.iconoCorreo svg {
    margin-right: 1em;
}

.textPreForm{
    margin-top: 0.8em;
    font-size: 1.1em;
}
.edicionForm form div input{
    font-size: 1.1em;
    font-family:bod_cr;
    width: 100%;
    border:none;
    border-bottom: 2px solid black;  
}

.edicionForm form div textarea{
    font-size: 1.1em;
    font-family:bod_cr;
    width: 100%;
}

.boton {
    transition: all 400ms ease;
}

.boton:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

/* -------------------------------------------------------------- MEDIA QUERIES */

/* -------------------------------------------------------------- MOBILE */
@media screen and (min-width: 320px) and (max-width: 767px) {
        
        /* INDEX */
        /* HEADER - NAVBAR */

    header {
        background-color: #d6b385;
        opacity: 0.6;
    }
    header div img {
        margin: 0em 0.5em;
    }
    .modelarIdeas { 
        font-size: 0.9em;
    }
    .arqDiseno p {
        display: none;
    }
    nav{
        width: 100%;
        font-size: 1em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    .navBar{
        column-gap: 15px;
        justify-content: center;
    }

        /*MAIN*/

    .banner {
        margin-top: 0.3em;
    }
    .misionVision{
        font-size: 1.5em;
    }
    .flexContainer {
        margin-top: 1em;
        justify-content: center;
        align-items: center
    }
    .flexContainer div {
        width: 100%;
    }
    .servicios {
        margin-top: 0.5em;
    }
    .ingresoSecciones {
        width: 80%;
    }
    .carrousel img{
        width: 90%;
        border-radius: 20px;
        margin: 0.5em;
    }
    .wppFixed {
        display: none; 
    }

        /* FOOTER */

    footer div a p{
        font-size: 0.9em;
    }
    .copyrigth {
        font-size: 0.8em;
    }

        /* SOBRE MI */

    .fotoTexto img {
        width: 100%;
    }
    .textoUno{
        margin: 1em;
        padding: 1em 1em;
        width:100%;
    }
    .textoDos {
        margin: 1em;
        padding: 1em;
        width: 100%;
    }
    .yoTrabajo{
        margin: 0.4em;
        width: 95%;
    }
        /* PORTFOLIO */

    .flexPortfolio article {
        flex-wrap: wrap;
    }
    .flexPortfolio article img {
        width: 94%;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        margin: 0.5em;
    }
    
        /* SERVICIO */
    
    .gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 0.9fr;
    grid-template-areas:
    "aol"
    "gifImagen" 
    "textoimagen"
    "textoAbajo";
    align-items: center;
    }
    .gridTitulo h2 {
        margin-top: 0.5em;
    }
    .columnaTexto p {
        margin: 0.5em;
        font-size: 1.2em;
    }
    .tituloVentaja {
        margin-top: 0.5em;
    }
    .card div img {
        margin-top: 2em;
        margin-left: 5.5em;
    }
    .card p {
        width: 90%;
        margin-left: 1em;
    }
    .queIncluye img {
        width: 100%;
        margin-top: 3em;
    }
    .tips img {
        width: 25%;
        margin-left: 0.9em;
    }
    .bajoEscalera {
        margin-left: 2.5em;
    }

        /* CONTACTO */

    .flexForm {
        flex-direction: row;
        flex-wrap: wrap;    
        justify-content: flex-start;
        margin: 0.5em 1em;
    }
    .imgContacto {
        width: 100%;
        margin-top: 2em;
    }


}

/* -------------------------------------------------------------- TABLET */

@media screen and (min-width: 768px) and (max-width: 1023px) {
        /* INDEX */
        /* HEADER - NAVBAR */

    header {
        background-color: #d6b385;
        opacity: 0.6;
        justify-content: space-evenly;
    }
    header div img {
        margin: 0em 0.5em;
    }
    .modelarIdeas { 
        font-size: 0.9em;
    }
    .arqDiseno p {
        display:none;
    }
    nav{
        width: 50%;
        font-size: 1em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    .navBar{
        column-gap: 25px;
        justify-content: flex-end;
    }

        /*MAIN*/

    .banner {
        margin-top: 0.3em;
    }
    .misionVision{
        font-size: 1.5em;
    }
    .flexContainer {
        margin-top: 1em;
        justify-content: center;
        align-items: center
    }
    .flexContainer div {
        width: 50%;
    }
    .ingresoSecciones {
        width: 80%;
    }
    .carrousel img{
        width: 90%;
        border-radius: 20px;
        margin: 1.5em;
    }
    .wppFixed {
        display: none; 
    }
    .copyrigth {
        font-size: 0.8em;
    }
        /* FOOTER */

    footer div a p{
        font-size: 1.3em;
    }
    .copyrigth {
        font-size: 1.2em;
    }

        /* SOBRE MI */

    .fotoTexto img {
        width: 80%;
        margin-left: 4em;
    }
    .textoUno{
        margin: 1em;
        padding: 1em 1em;
        width:100%;
    }
    .textoDos {
        margin: 1em 1.1em;
        padding: 1em;
        width: 30%;
    }
    .yoTrabajo{
        width: 48%;
    }    

        /* PORTFOLIO */

    .flexPortfolio article {
        flex-wrap: wrap;
    }
    .flexPortfolio article img {
        width: 97%;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        margin: 0.5em;
    }    
    .flexPortfolio article div {
        width: 80%;
        margin-left: 2em;
    }

        /* SERVICIO */
    
    .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 0.5fr;
    grid-template-areas:
    "aol aol"
    "gifImagen textoimagen" 
    "textoAbajo textoAbajo";
    align-items: center;
    }
    .gridTitulo h2 {
        margin: 0.5em 0em;
    }
    .columnaTexto p {
        margin: 0.5em;
        font-size: 1.2em;
    }
    .tituloVentaja {
        margin-top: 0.5em;
    }
    .card div img {
        margin-top: 2em;
        margin-left: 5.5em;
    }
    .card {
        width: 300px;
    }
    .card p {
        width: 90%;
        margin-left: 1em;
    }
    .queIncluye img {
        width: 100%;
        margin-top: 3em;
    }
    .tips img {
        width: 25%;
        margin-left: 2.2em;
    }
    .bajoEscalera {
        margin-left: 6em;
    }   
    
        /* CONTACTO */
    .flexForm {
        flex-direction: row;
        flex-wrap: wrap;    
        justify-content: flex-start;
        margin: 0.5em 6em;
    }
    .edicionForm h2{
        text-align: center;
        font-size: 2em;
        margin-top: 0;
        margin-right: 1em;
    }
    
    .imgContacto {
        width: 100%;
        margin-top: 2em;
        margin-left: 0.7em; 
    }
	
}


/* -------------------------------------------------------------- DESKTOP */
@media screen and (min-width: 1024px){

        /* GENERAL */
        /* INDEX */

        /* HEADER - NAVBAR */    
    header {
        background-image: url(../assets/img/fondo4.png);
        background-repeat: no-repeat;
        background-position: center;
        position: sticky;
        top: 1.3em;
        opacity: 0.8;
        column-gap: 10px;
    }
    header div img {
        margin: 0em 1em;
        opacity: 0.5;
    }
    .modelarIdeas {
        font-size: 1em;
    }
    .arqDiseno p {
        color: black;
        font-size: 1em;
        font-style:italic;
        margin-left: 1em;
    }
    nav{
        width: 63%;
    }
    .navBar{
        column-gap: 40px;
        justify-content: flex-end;
    }

        /* MAIN */

    .banner {
        margin-top: 1.3em;
    }
    .misionVision{
        font-size: 1.8em;
    }
    .flexContainer {
        margin-top: 3em;
    }
    .portfolio {
        padding-left: 5em;
    }
    .servicios {
        padding-right: 5em;
    }
    .ingresoSecciones {
        width: 40%;   
    }
    .ingresoSecciones:hover {
        transform: translateY(-3%);
    }
    .flexContainer div {
        width: 43%;
    }
    .carrousel img{
        width: 60%;
        border-radius: 70px;
        margin: 3em 0;
    }
    .wppFixed {
        background-color: #4ecc5c ;
        color: black;
        border-radius: 100px;
        width: 3em;
        height: 3em;
        position: fixed;
        bottom: 1.5em;
        right: 2em;
    }
    .wppFixed:hover {
        transform: translateY(-10%);
    }
        /* FOOTER */
    .copyrigth {
        font-size: 1em;
    }
    
        /* SOBRE MI */

    .fotoTexto {
        margin:2em 0 ;
    }    
    .textoUno{
        margin: 3em;
        padding: 3em 1em;
        width:35%;
    }
    .textoDos {
        margin: 2em;
        padding: 2em;
        box-sizing: border-box;
        width: 29%;
    }
    .yoTrabajo{
        margin: 2em;
        width: 57%;
    }

        /* PORTFOLIO */
    .flexPortfolio article img {
        width: 80em;
        height: 30em;
        cursor: pointer;
    }
        /* SERVICIOS */
    .gridContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr auto 1fr;
        grid-template-areas:
        "aol aol"
        "gifImagen textoimagen"
        "textoAbajo textoAbajo";
        column-gap: 1em;
        align-items: center;
    }
    .gridTitulo h2 {
        margin-top: 1.5em;
    }
    .columnaImg img {
        margin-left: 2em;
    }
    .columnaTexto p {
        font-size: 1.5em;
    }
    .tituloVentaja {
        margin-top: 3em;
    }
    .card {
        margin: 3em;
        width: 400px;      
    }
    .card div img {
        margin-left: 7em;
    }
    .queIncluye img {
        width: 80%;
        margin-left: 7em;
    }
    .tips img {
        width: 18%;  
        margin-left: 1.1em;
    }
        /* CONTACTO */

    .edicionForm h2{
        margin-top: 0.5em;
        margin-bottom: 0.8em;   
    }
    .imgContacto {
        width: 78%;
    }
}




