/* SERVICIOS-MAIN */
.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr auto 1fr;
    grid-template-areas:
    "aol aol"
    "gifImagen textoimagen"
    "textoAbajo textoAbajo";
    column-gap: 1em;
    align-items: center;
}
.gridTitulo{
    grid-area: aol;
    h2 {
        margin-top: 1.5em;
        text-align: center;
        font-size: 2em;
        font-weight: 900;
    }
}
.columnaImg{
    grid-area: gifImagen;
    img {
        margin-left: 2em;
        width: 100%;
    }
}
.columnaTexto p {
    grid-area: textoImagen;
    font-size: 1.5em;
    text-align: center;
    font-weight: 100;
    width: 90%;
}
.textoAbajo {
    grid-area: textoAbajo;
    p {
        font-size: 1.5em;
        text-align: center;
        padding:0.5em;
        background-color: rgb(196, 195, 195) ;
        color: white;
        font-weight: 100;
    }
    strong{
        font-weight: 900;
        color: white;
    }
}
.tituloVentaja {
    font-size: 1.5em;
    text-align: center;
    font-weight: 900;
    margin-top: 3em;
}
.textoVentajas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tarjeta {
    margin: 3em;
    width: 400px;      
    p {
        text-align: center;
    }
    div img {
        width: 30%;
        margin-bottom: 1em;
        margin-left: 7em;
    }
}
.queIncluye img {
    margin-bottom: 3em;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    width: 80%;
    margin-left: 7em;
}
.tips{
    h4 {
        text-align: center;
        font-size: 2em;
        font-weight: 900;
    }
    img {
        margin-top: 1em;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        width: 18%;  
        margin-left: 1.1em;
        &:hover {
            transform: translateY(-3%);
        }
    }
    

}
